html,
body {
    font-family: Verdana;
    color: white;
    background-color: black;
    text-align: center;
}

h1{
    font-size: 50px;
    font-weight: normal;
}

a {
    font-size: 16px;
    color: aquamarine;
}
